<h1>Listing apps</h1>

<table>
  <thead>
    <tr>
      <th>Trackid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <% if app.user == current_user %>
          <td><%= app.trackId %></td>
          <td><%= link_to 'Show', app %></td>        
          <td><%= link_to 'Edit', edit_app_path(app) %></td>
          <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>