<h1>New app</h1>

<%= render 'form' %>

<%= link_to 'Back', apps_path %>

<script type="text/javascript">
	function getURLParameters(url)
	{
		
	    var result = {};
			var searchIndex = url.indexOf("?");
			if (searchIndex == -1 ) return result;
	    var sPageURL = url.substring(searchIndex +1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++)
	    {    	
	        var sParameterName = sURLVariables[i].split('=');      
	        result[sParameterName[0]] = sParameterName[1];
	    }
	    return result;
	}
	function loadAppfromStoreToForm(appID){
		var appstoreURL = "https://itunes.apple.com/lookup?id="+appID;
		$.ajax({
			url:appstoreURL,
			jsonpCallback: 'jsonCallback',
			contentType: "application/json",
			dataType: "jsonp",
			success: function(json){
				console.log(json);
				$("input#app_trackId").val(appID);
			},
			error: function(e){
				console.log(e.message);
			}
		})
	}
	$(document).ready(function(){
		var params = getURLParameters(window.location.href);
		var appID = params.appID;
		console.log(appID);
		loadAppfromStoreToForm(appID);
	})
</script>